
body{
	background: url(1586763551_2.jpg) ; 
	background-attachment: fixed ;
	background-position: top center;
}
.mid{
	width: 1250px;
	margin: 0 auto;
	background: rgba(161,21,207, 0.5);
}

   table {
    width: 30%;
   }
   td { padding: 5px; }
   td.col1 { background: red; color: white; }
   td.col2 { background: orange; color: black; }
   td.col3 { background: yellow; }
.semiopacity {
  padding: 5px;
  opacity: 1;
  }
h5 {
  font-size: 18px;
  text-align: center;
    box-shadow: 0 0 5px 2px;
}

ruby{
    font-size: 20px;
}
#first{
    word-spacing: 20px;
    font-size: 18px;
}


p.example:hover{
    font-size: 25px;
    color:red
}

select{
    caret-color: red
}

 .column {
    -webkit-column-width: 200px;
    -moz-column-width: 200px;
    column-width: 200px;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
    -webkit-column-rule: 1px solid #ccc;
    -moz-column-rule: 1px solid #ccc;
    column-rule: 1px solid #ccc;
   }